<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CSStQZ-EtiP6urWuQUm2FlWoUTQPtGA&libraries=places"></script>
    <script src="main.js"></script>
        <title>UniLife</title>
    <style>
        .container-fluid .container {
            padding-left:0;
            padding-right:0;
        }

        @media (max-width: 767px){
            .invis-label{
                display:none;
            }
        }
        #map {
            height: 500px;
            width: 100%;
        }
        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: center;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }   

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }
        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }
        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }
        /* Fade in tabs */
        @-webkit-keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        @keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .nopadding {
        padding: 0 !important;
        margin: 0 !important;
        }
    </style>
    </head>
    <body>
        <!--Tab class-->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Login')">Login</button>
            <button class="tablinks" onclick="openTab(event, 'Search')">Search</button>
            <button class="tablinks" onclick="openTab(event, 'About')">About</button>
        </div>
        <div id="Search" class="tabcontent">

        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
        <div class="col-sm-1 hidden-xs" style="background-color:#fefbd8"></div>

        <div class="col-xs-12 col-sm-10 col-lg-8" style="background-color:#80ced6">
                    
            <!-- Title -->
            <center>
            <br>
            <h1>UniLife</h1>
            <br> 
            </center>
                    
            <!-- Input -->
            <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9">
                <div class="form-group">
                    <label for="uni">Input a University Name:</label>
                    <input type="text" class="form-control" id="uniName" placeholder="Ex: University of Toronto">
                    <script>
                    var input = document.getElementById("uniName");
                    input.addEventListener("keyup", function(event) {
                        event.preventDefault();
                        if (event.keyCode === 13) {
                            document.getElementById("uniSubmit").click();
                        }
                    });
                    </script>
                </div>
                </div>
                <div class="col-xs-12 col-md-3">
                <!-- This empty label vertically aligns the button. When the window is greater than md, remove the label -->
                <label class="invis-label">&nbsp;</label>
                <button type="submit" class="btn btn-primary btn-block" id="uniSubmit">Submit</button>
                </div>
            </div>
            </div>
                
        </div>
        <div class="col-sm-1 hidden-xs" style="background-color:#fefbd8"></div>
        <div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
        </div>
        <div class="row">
        <div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
        <div class="col-xs-12 col-lg-10" style="background-color:#80ced6" id="basicAdd">
            <div class="row">
            <div class="col-xs-12 col-lg-9 col-md-9" style="background-color:#ff8c00" id="basicAddress">
                
            </div>
            <div class="col-xs-12 col-lg-2 col-md-2" style="background-color:#80ced6" id="basicBar">
                <label class="invis-label">&nbsp;</label>
                <button type="submit" class="btn btn-primary btn-sm" id="addFav">Add Favourite</button>
                <script>
                    document.getElementById("addFav").style.display = "none";
                </script>
            </div>
            <div class="col-lg-1 hidden-md-down" style="background-color:#80ced6"></div>
            </div>
        </div>

        <div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
        </div>
        <div class="row">
			<div class="col-lg-2 hidden-md-down" style="background-color:#abcd12">
								
			</div>
			<div class="col-xs-8 col-lg-8" style="background-color:#80ced6" id="map">
				<script> 
				    map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 43.6628917, lng: -79.3956564}, // default: University of Toronto
					zoom: 15
					})
				</script>
			</div>
			<div class="col-lg-2 hidden-md-down" style="background-color:#abcd12" id="info"></div>
        </div>
        <div class="row">
			<div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-5" style="background-color:#A9A9A9" id="restaurants">
            
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-5" style="background-color:#00FFFF" id="libraries">

			</div>
			<div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
        </div>
			<div class="row">
				<div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
					<div class="col-xs-12 col-lg-10" style='background-color:#B4CD9A'>
						<h4 id="qualityheader" style='display:none'>City's Quality of Living out of 10</h4>
						<ul id="quality">
						</ul>
					</div>
				<div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
			</div>
			</div>
        </div>
        <!--Log in page-->
        <div id="Login" class="tabcontent" style="background-color:#abcd12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
                    <div class="col-sm-1 hidden-xs" style="background-color:#fefbd8"></div>
                    <div class="col-xs-12 col-sm-10 col-lg-8" style="background-color:#80ced6">
                    <center>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <h1>Login</h1>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <div class="form-group">
                                    <label for="user">Username:</label>
                                    <input type="text" class="form-control" id="userName" placeholder="Enter Your Username Here">
                                    <label for="pass">Password:</label>
                                    <input type="password" class="form-control" id="password" placeholder="Enter Your Password Here">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary btn-block" id="login">Log in</button>
                        </div>
                        <div class="row">
                            <br>
                            <p id="loginMessage"></p>
                        </div>
												<div class="row">

														<div class="col-4">
																<br><hr>
														</div>
														<div class="col-4"> 
																<br><center><h3>or</h3></center>
														</div>
														<div class="col-4">
																<br><hr>
														</div>
												</div>

												<div class="row">
														<div class="col-xs-12 col-lg-12">
																<h1>Sign Up</h1>
														</div>
														<div class="col-xs-12 col-lg-12">
																<div class="form-group">
																		<label for="user">Username:</label>
																		<input type="text" class="form-control" id="signName" placeholder="Enter Your Username Here">
																		<label for="pass">Password:</label>
																		<input type="password" class="form-control" id="signPassword" placeholder="Enter Your Password Here">
																</div>
														</div>
												</div>
												<div class="row">
														<button type="submit" class="btn btn-primary btn-block" id="signup">Sign Up</button>
												</div>
												<div class="row">
													<br>
													<p id="signMessage"></p>
												</div>

										</div>
										</center>
										</div>
										<div class="col-sm-1 hidden-xs" style="background-color:#fefbd8"></div>
										<div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
								</div>
						</div>
				</div>
				<!--About page-->
				<div id = "About" class="tabcontent" style="background-color:#80ced6">
						<div class="container-fluid">
								<div class="row">
										<div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
										<div class="col-sm-1 hidden-xs" style="background-color:#fefbd8"></div>
										<div class="col-xs-12 col-sm-10 col-lg-8">
												<center> <h1>About</h1> </center>
												<p style="font-size: 1.5em">
														We are team of 4 formed with Zhiyuan Cheng, Richard Zhan, Tae Hoon Jun, Weitong Luo. We want to build an application that details the quality of living in Universities (in the U.S. and/or Canada). These details may include location, crime rates, transportation, student communities (activities on Facebook or Reddit), resturant ethnicities, rent prices, and many others. Users can research these details and create profiles that store which universities they are interested in.
														Our target users are prospective university students. University is typically atleast a 4 year investment, and it's important to consider what environment you would be staying in.</p>
												<h3>Currently Support Assets</h3>
        								<ul>
        										<li>address</li>
        										<li>top ten rated restaurants with in 1km</li>
        										<li>top ten rated libraries with in 500m</li>
        										<li>all rating are based on Google Map user rating</li>
														<li>crime rates per 100,000 (U.S.A. supported only)</li>
														<li>quality of living scores by Teleport</li>
														<li>...</li>
        								</ul>
												<h3>To Do List</h3>
												<li>Add crime data support for Canada (using database).</li>
												<li>Make Teleport's data into a bar graph</li>
												<li>Other data proposed like student communities</li>
												<li>Change color scheme. Currently using colors to differentiate divs</li>
										</div>
										<div class="col-sm-1 hidden-xs" style="background-color:#fefbd8"></div>
										<div class="col-lg-1 hidden-md-down" style="background-color:#abcd12"></div>
								</div>
						</div>
				</div>
    </body>
</html>

<!-- container-fluid is a big table that is 100% of the screen's width
     Each row of the container has 12 columns
     col-md-4 for example is a div that spans 4-columns wide
     xs, sm, md, lg are screen sizes
     col-xs-12 col-md-9 will be a div that spans 12-columns(everything) if the screen is xs or bigger
     It will span 9-columns if the screen is md or bigger (overrides the xs condition)
     hidden-xs will hide this div if the screen is xs
     hidden-sm-down will hide this div if the screen is sm or smaller -->
